@model PartyFi.Models.Playlist

<link rel="stylesheet" href="~/Content/Home.css" />

<body style="background-image: url('../../images/HomeBG.jpg'); background-attachment: fixed; background-position: top center;">
    <div class="row transparentBox">
        <div class="col-sm-5" style="background-color:white; opacity:0.6; margin: 5px; height: 38px;">

            @using (Html.BeginForm("Search", "Playlist"))
            {

                <div class="form-group container-fluid">
                    <input type="text" placeholder="Search for a song..." class="form-control" id="search" style="max-width:75%">
                </div>

            }
        </div>
        <div class="col-sm-5" style="background-color:white; opacity:0.7; text-align:left;"><h3 style="margin-top: 3px;">Code: @Model.code</h3></div>
        <div class="col-sm-1" style="background-color:white; opacity:0.7; float: right; margin: 3px;"><button type="button" class="btn">Veto</button></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 transparentBox" style="background-color:white; opacity:0.6; display:table-header-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Rank</th>
                        <th>Upvote/Downvote</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.playlist) { 
                    <tr>
                        <td>@song.song</td>
                        <td>@song.rank</td>
                        <td>U/D</td>
                    </tr>
                     }
                </tbody>

            </table>
        </div>
    </div>
</body>