@model PartyFi.Models.Playlist

<link rel="stylesheet" href="~/Content/Home.css" />
<link rel="stylesheet" href="~/Content/Create.css" />

<script>
    var timer = null;
    function testKeyup() {
        clearTimeout(timer);
        timer = setTimeout(doneTyping, 2000);
    }
    function testKeydown() {
        clearTimeout(timer);
    }
    function doneTyping() {
        var typed = document.getElementById("search").value;
        if (typed != "") {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("Search", "Playlist")',
                data: { search: typed },
                success: function (list) {
                    var ul = document.getElementById("generatedUL");
                    var isThereList = document.getElementById("temp");
                    if (ul.childElementCount > 1 && isThereList != null && isThereList.length) {
                        ul.removeChild(isThereList);
                    }
                    else {
                        $('#generatedUL').empty();
                        $('#generatedUL').empty();
                    }
                    for (i = 0; i < list.length; i++) {
                        var tempUri = list[i].Uri.split(":")[2];
                        $("#generatedUL").append("<li value=\"" + tempUri + "\"><a onclick = \"addSong(\'" + tempUri + "\')\">" + list[i].Artists[0].Name + " - " + list[i].Name + "</a></li>");
                    }
                    $("#generatedULContainer").css("display", "block");
                },
            });
        }
    }
    function addSong(Uri) {
        $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("AddSong", "Playlist")',
                data: { song: Uri }
        });
        $("#generatedULContainer").css("display", "none");
    }

    //var time = new Date().getTime();
    //$(document.body).bind("mousemove keypress", function (e) {
    //    time = new Date().getTime();
    //});

    //function refresh() {
    //    if (new Date().getTime() - time >= 1000)
    //        window.location.reload(true);
    //    else
    //        setTimeout(refresh, 1000);
    //}

    //setTimeout(refresh, 1000);

    //auto refresh on playlist table
    $(function () {

        setInterval(function () { $('#PLTable').load('/Playlist/PlaylistTable'); }, 3000); // every 3 sec

    });

</script>

<body style="background-image: url('../../images/HomeBG.jpg'); background-attachment: fixed; background-position: top center;">
    <div class="row transparentBox" style="position:relative; z-index: 1;">
        <div class="col-sm-5" style="background-color:white; opacity:1.0; margin: 5px; height: 38px; vertical-align:middle;">
            <input type="text" onkeydown="testKeydown()" onkeyup="testKeyup()" id="search" class="form-control" placeholder="Search for a song..." style="max-width:75%">
            <div class="container-fluid" id="generatedULContainer" style="display: none; width: 75%; height: 226px; overflow: auto; margin-top: 0px; background-color: white; opacity:1.0;">
                <ul id="generatedUL" style="list-style-type:none; padding-top: 0px; margin-top: 0px;">
                    <li id="temp" style="display: none;"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5" style="background-color:white; opacity:0.7; text-align:left;"><h3 style="margin-top: 3px;">Code: @Model.code</h3></div>
        @*<div class="col-sm-1" style="background-color:white; opacity:0.7; float: right; margin: 3px;"><button type="button" class="btn">Veto</button></div>*@
    </div>

    <br />
    <div class="row transparentBox" style="position:relative; z-index: 1;">
        <div class="col-sm-12" style="background-color:white; opacity:0.7; text-align:left;">
            <h3 style="margin-top: 3px;">Current Song: @Model.currentSong</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div id="PLTable" class="col-sm-5 container-fluid transparentBox" style="position:relative; vertical-align:middle; z-index: 1; background-color:white; opacity:0.6; display:table-header-group; height:100%; width:100%; padding:0; margin:0;">
            @*<div id="PLTable" class="col-sm-12 container-fluid transparentBox" style="position:relative; z-index: 1; background-color:white; opacity:0.6; display:table-header-group; width:100%;">*@

            @{Html.RenderAction("PlaylistTable", "Playlist");}
        </div>
    </div>
</body>