@model PartyFi.Models.Playlist

<body style="background-image: url('../../images/HomeBG.jpg'); background-attachment: fixed; background-position: top center;">
    <div class="col-sm-5" style="background-color:white; opacity:0.9">
        <form>
            <div class="form-group container-fluid">
                <input type="text" class="form-control" id="search" style="max-width:100%">
            </div>
        </form>
    </div>
    <div class="col-sm-5" style="background-color:white; opacity:0.9"><h3>Code: @Model.code</h3></div>
    <div class="col-sm-2" style="background-color:white; opacity:0.9"><button type="button" class="btn">Veto</button></div>
    <br />
    <div class="col-sm-12" style="background-color:white; opacity:0.9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Rank</th>
                    <th>Upvote/Downvote</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>song 1</td>
                    <td>13</td>
                    <td>asdf</td>
                </tr>
                <tr>
                    <td>song2</td>
                    <td>2</td>
                    <td>asdf</td>
                </tr>
                <tr>
                    <td>song3</td>
                    <td>-4</td>
                    <td>asdf</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>