@model PartyFi.Models.Playlist

<div class="col-sm-12" style="background-color:white; opacity:0.7; text-align:left; margin: 10px;">
    <h3 style="margin-top: 3px;">Current Song: @Model.currentSong</h3>
</div>