@{
    ViewBag.Title = "Home Page";
}

<body background="../../images/HomeBG.jpg" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></body>
<div>
    @* opaque centered box will be here with two buttons to Create or Join a party *@
</div>