@{
    ViewBag.Title = "Home Page";
}

<body  style="background-image: url('../../images/HomeBG.jpg'); background-attachment: fixed; background-position: top center;">
    <div class="transparentBox" style="width: 45.5%;vertical-align: middle; height: 92%; float: left; margin-right: 1.5%;padding:13px">
        <h1 style="margin-bottom:20px;">Host a Party Playlist</h1>
    </div>
    <div class="transparentBox" style="width: 45.5%;vertical-align: middle; height: 92%; float: right; margin-left: 1.5%;padding:13px">
        <h1 style="margin-bottom:20px;">Join a Party Playlist</h1>
    </div>
</body>
