@{
    ViewBag.Title = "Home Page";
}

<body background="../../images/HomeBG.jpg" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></body>
<div class="transparentBox" style="width: 600px; height: 300px; background-color: white; opacity: 0.4; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;">

</div>